/.vs/AIE_PIRATE_PROJECT/v15
*.cache
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/DesignTimeBuild/.dtbcache
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide
*.ide
*.mgcontent
bin/
obj/
.vs/
x84/
x64/
*.mgcontent
*.exe
*.pdb
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/.mgcontent
*.mgcontent
*.mgcontent
*.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Player/PSH.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Player/PHS-3.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Player/PHS-2.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/tiles_sheet.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/SkullHealth.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/pirateSeaMap.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/explosion3.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/explosion2.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/explosion1.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Misc/cannonBall.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/GUI/Splash.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/GUI/SkullHealth.mgcontent
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/Fonts/Primitive.mgcontent
