/.vs/AIE_PIRATE_PROJECT/v15
*.cache
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/DesignTimeBuild/.dtbcache
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-shm
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide-wal
.vs/AIE_PIRATE_PROJECT/v15/Server/sqlite3/storage.ide
*.ide
*.mgcontent
bin/
obj/
.vs/
x84/
x64/
*.mgcontent
*.exe
*.pdb
AIE_PIRATE_PROJECT/Content/obj/DesktopGL/.mgcontent
*.mgcontent
*.mgcontent
*.mgcontent
